*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}
.container{
    padding-top: 20px;
    height: 200px;
    background-color:rgb(41, 39, 30);
}

/*--------------HEADER-------------*/
header{
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header .logo-link{
    font-size: 2em;
    color: white;
    font-weight: normal;
}
.logo-nacional{
    color: #af670a;
}
nav{
    line-height: 40px;
}
nav a{
    color: #af670a;
    margin-left: 20px;
    text-transform: uppercase;
}
nav a:hover{
    color: #227115;
}

/*--------------ARTICLE-------------*/

.conteudo{
    width: 1080px;
    margin: 0 auto;
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
}
.container-capa{
    width: 710px;
    background-color: white;
}



/*--------------principall-------------*/
.principal{
    width: calc(710px - 45px);
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.principal h4{
    padding-bottom: 20px;
    color: #227115;
}
.principal h3{
    margin: 20px 0;
    color: #227115;
}
.principal .container-exposicao{
    margin-left: 40px;
}
.video{
    margin-right: 15px;
}
.mapa{
    margin-left: 20px;
}
.historia strong{
    display: block;
    margin-top: 20px;
    color: tomato;
}

/*--------------visita-------------*/

.visita{
    margin:15px 0;
    padding: 27px;
    background-color: #c4c8b1;
}
.visita input{
    width: 80px;
    font-size: 1em;
    border:none
}
.visita h4{
    color: #86521a;
    margin: 0;
}
.visita fieldset{
    border: none;
}
.visita fieldset legend{
    display: none;
}
.visita .btn-submit{
    width: 100%;
    background-color: #9b9271;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
    cursor: pointer;
}
/*--------------GGALERIA-sside-------------*/
.conteudo aside{
    width: 350px;
}
.clear{
    clear: both;
}
.galeria{
    background: #cac6b8;
    padding: 15px 0;
}
.galeria h4{
    color: #86521a;
    margin-left: 35px;
    margin-bottom: 15px;
}
.galeria img{
    margin-top: 2px;
    margin-left: 1.5px;
}
.galeria a{
    display:block;
    float: left;
    background: url(../img/fundo-foto.png) no-repeat;
    padding: 18px 15px  15px 15px;
    margin-left: 35px;
}
/*--------------FOOTTER-------------*/

footer {
    border-top: 0.5px solid #86521a;
    text-align: center;
    width: 1080px;
    margin:10px auto;
    padding: 30px 0;
}
footer a{
    margin: 10px 15px;
    display: inline-block;
    color: #af670a;
}
footer a:hover{
    color: #227115;
}